In [4]:
import pandas as pd
from typing import Dict, Callable, List
import ray
ray.init(num_cpus=4)

RuntimeError: Maybe you called ray.init twice by accident? This error can be suppressed by passing in 'ignore_reinit_error=True' or by calling 'ray.shutdown()' prior to 'ray.init()'.

# figuring out groupby

In [17]:
# Defined based on the logic you are doing
def grouped_mean_chunk(df: pd.DataFrame, groupCols: List, selectCols: List[str], **kwargs) -> pd.DataFrame:
    df1 = df.groupby(groupCols)[selectCols].agg(['count', 'sum'])
    return df1

# Defined based on the logic you are doing
def grouped_mean_agg(df: pd.DataFrame, rename: str, groupCols: List, selectCols: List[str], **kwargs) -> pd.DataFrame:
    df = df.reset_index()

    if len(selectCols) == 1:
        agg_df = df.groupby(groupCols).agg(total_sum=('sum', 'sum'), total_count=('count', 'sum'))
        agg_df[rename] = agg_df.apply(lambda row: row['total_sum'] / row['total_count'], axis=1)
        return agg_df[rename].reset_index()
    else:
        results_df = pd.DataFrame()
        
        # Loop through each column in selectCols to calculate mean
        for col in selectCols:
            agg_df = df.groupby(groupCols)[[(col, 'sum'), (col, 'count')]].agg('sum')
            agg_df[f'mean_{col}'] = agg_df.apply(lambda row: row[(col, 'sum')] / row[(col, 'count')], axis=1)
            
            # Drop unnecessary multi-level in columns
            agg_df = agg_df.drop(columns=[(col, 'sum'), (col, 'count')])
            
            # Concatenate results to the final DataFrame
            if results_df.empty:
                results_df = agg_df
            else:
                # Join on groupCols and ensure no duplicate columns
                results_df = results_df.join(agg_df, on=groupCols)
        
        # Reset index to include groupCols in the result
        results_df = results_df.reset_index()

        return results_df

# Will not be changed
@ray.remote
def process_chunk(chunk: pd.DataFrame, dfMethod: Callable, **kwargs) -> pd.DataFrame:
    """
    Calculate the mean of specified columns, grouped by a specified category, for a given DataFrame chunk.

    Args:
    - chunk (pd.DataFrame): A chunk of the DataFrame.
    - dfMethod (Callable): A function that takes in a dataframe as an input and returns a dataframe
    - **kwargs: Additional keyword arguments to pass to dfMethod.

    Returns:
    - pd.DataFrame
    """
    return dfMethod(chunk, **kwargs)

# Will not be changed
def process_file(file_path: str, dfMethod: Callable, aggMethod: Callable, separator: str = '\t', save: bool = False, **kwargs) -> None:
    """
    Process a large CSV file to compute grouped means for specified columns and save the results.

    Args:
    - file_path (str): The path to the CSV file.
    - dfMethod (Callable): A function that takes in a dataframe (chunk) as an input and returns a dataframe
    - aggMethod (Callable): A function that aggregates the concatenated results from all chunks
    - separator (str): delimiter for the input file
    - **kwargs: Additional keyword arguments to pass to both dfMethod and aggMethod.
    """
    chunk_size = 1000  # Define chunk size based on system's memory.

    results = []
    for chunk in pd.read_csv(file_path, chunksize=chunk_size, sep=separator, low_memory=False):
        result = process_chunk.remote(chunk, dfMethod, **kwargs)
        results.append(result)

    # Retrieve and combine results from all chunks.
    combined_results = pd.concat(ray.get(results))

    # Uncomment for debugging purposes. 
    # combined_results.to_csv("data/grouped_means_combined.csv", index=True)

    # Final aggregation to ensure accurate mean calculation across all chunks.
    final_result = aggMethod(combined_results, **kwargs)

    if save:
        final_result.to_csv("data/grouped_means_results.csv", index=False)
        
    return final_result

In [18]:
groupCols = ['food_groups_en']
selectCols = ['ecoscore_score', 'nova_group']
rename = 'mean_ecoscore_score'

process_file(
    file_path='data/small_subset.csv',
    dfMethod=grouped_mean_chunk,
    aggMethod=grouped_mean_agg,
    separator=',',
    save=False,
    groupCols=groupCols,
    selectCols=selectCols,
    rename=rename
)

/tmp/ipykernel_1255/533952170.py:20: RuntimeWarning: invalid value encountered in scalar divide
  agg_df[f'mean_{col}'] = agg_df.apply(lambda row: row[(col, 'sum')] / row[(col, 'count')], axis=1)
/tmp/ipykernel_1255/533952170.py:20: RuntimeWarning: invalid value encountered in scalar divide
  agg_df[f'mean_{col}'] = agg_df.apply(lambda row: row[(col, 'sum')] / row[(col, 'count')], axis=1)

,food_groups_en,mean_ecoscore_score,mean_nova_group
,,,
0,Alcoholic beverages,45.005263,3.169811
1,"Beverages,Artificially sweetened beverages",38.000000,4.000000
2,"Beverages,Fruit juices",29.026667,1.000000
3,"Beverages,Fruit nectars",29.818182,4.000000
4,"Beverages,Plant-based milk substitutes",67.333333,3.181818
5,"Beverages,Sweetened beverages",61.730159,3.716418
6,"Beverages,Teas and herbal teas and coffees",57.400000,4.000000
7,"Beverages,Unsweetened beverages",34.336066,1.938776
8,"Beverages,Waters and flavored waters",NaN,1.000000
9,Cereals and potatoes,73.750000,2.750000
10,"Cereals and potatoes,Bread",64.597403,3.626866
11,"Cereals and potatoes,Breakfast cereals",52.408163,3.083333
12,"Cereals and potatoes,Cereals",55.701245,1.794872
13,"Cereals and potatoes,Legumes",64.439024,2.615385
14,"Cereals and potatoes,Potatoes",73.734043,3.475410
15,"Composite foods,One-dish meals",34.364742,3.760656
16,"Composite foods,Pizza pies and quiches",50.354430,3.803922
17,"Composite foods,Sandwiches",17.904762,3.434783
18,"Fats and sauces,Dressings and sauces",54.749235,3.578947
19,"Fats and sauces,Fats",33.100000,2.000000
20,Fish‚ Meat‚ Eggs,NaN,4.000000
21,"Fish‚ Meat‚ Eggs,Eggs",35.416667,1.000000
22,"Fish‚ Meat‚ Eggs,Fish and seafood",20.424242,3.216667
23,"Fish‚ Meat‚ Eggs,Fish and seafood,Fatty fish",21.871314,2.996078
24,"Fish‚ Meat‚ Eggs,Fish and seafood,Lean fish",9.625000,2.642857
25,"Fish‚ Meat‚ Eggs,Meat,Meat other than poultry",12.881481,3.110000
26,"Fish‚ Meat‚ Eggs,Meat,Poultry",26.125000,3.617647
27,"Fish‚ Meat‚ Eggs,Offals",53.185185,3.900000
28,"Fish‚ Meat‚ Eggs,Processed meat",23.323661,3.908784
29,Fruits and vegetables,NaN,NaN
30,"Fruits and vegetables,Dried fruits",37.767442,1.906977
31,"Fruits and vegetables,Fruits",78.097701,2.584127
32,"Fruits and vegetables,Soups",84.100000,3.615385
33,"Fruits and vegetables,Vegetables",76.047414,2.244444
34,"Milk and dairy products,Cheese",41.590361,3.232558
35,"Milk and dairy products,Dairy desserts",58.200000,3.611765
36,"Milk and dairy products,Ice cream",69.950495,3.979592
37,"Milk and dairy products,Milk and yogurt",64.165746,3.250000
38,"Salty snacks,Appetizers",53.072165,3.650794
39,"Salty snacks,Nuts",27.666667,2.000000
40,"Salty snacks,Salty and fatty products",34.767918,3.198758
41,"Sugary snacks,Biscuits and cakes",50.139434,3.943284
42,"Sugary snacks,Chocolate products",22.535948,3.868421
43,"Sugary snacks,Pastries",56.303448,3.930556
44,"Sugary snacks,Sweets",59.472127,3.739470